@media screen and (max-width: 800px) {
    #wrapper {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    #wrapper {
        max-width: 95vw;
    }
    .skills_wrapper {
        justify-content: center;
    }

    .education_wrapper {
        justify-content: center;
    }

}